<?xml version="1.0" encoding="utf-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                              ~
  This file is subject to the terms and conditions defined in                 ~
  file 'LICENSE', which is part of this source code package                   ~
                                                                              ~
  Autor: Felipe González                                                      ~
  Email: felipe.gonzalezalarcon94@gmail.com                                   ~
                                                                              ~
  Copyright (c) 2020                                                          ~
                                                                              ~
  Last modified 01-07-20 18:41                                                ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cl.figonzal.evaluatool">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".evalua7.modulo6.ResolucionProblemasE7M6"></activity>
        <activity android:name=".evalua0.modulo3.IndiceGeneralLinguisticoE0M3" />
        <activity android:name=".evalua0.modulo2.IndiceGeneralEspacialE0M2" />
        <activity android:name=".evalua0.modulo1.IndiceGeneralCognitivoE0M1" />
        <activity android:name=".evalua2.modulo5.Ortografia" />
        <activity android:name=".evalua2.modulo4.ComprensionLectora" />
        <activity android:name=".evalua2.modulo2.MemoriaAtencion" />
        <activity android:name=".evalua2.modulo1.IndiceGeneralCognitivo" />
        <activity android:name=".evalua2.modulo1.ValoracionGlobalRazonamiento" />
        <activity android:name=".evalua2.modulo1.Clasificaciones" />
        <activity android:name=".evalua2.modulo1.OrganizacionPerceptiva" />
        <activity android:name=".evalua2.Evalua2Activity" />
        <activity android:name=".evalua2.modulo1.PensamientoAnalogico" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".evalua0.Evalua0Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".evalua0.modulo3.HabilidadesFonologicasE0M3"
            android:parentActivityName=".evalua0.Evalua0Activity" />
        <activity
            android:name=".evalua0.modulo3.RecepcionAuditivaArticulacionE0M3"
            android:parentActivityName=".evalua0.Evalua0Activity" />
        <activity
            android:name=".evalua0.modulo3.PalabrasYFrasesE0M3"
            android:parentActivityName=".evalua0.Evalua0Activity" />
        <activity
            android:name=".evalua0.modulo2.GrafoMotricidadE0M2"
            android:parentActivityName=".evalua0.Evalua0Activity" />
        <activity
            android:name=".evalua0.modulo2.CopiaDibujosE0M2"
            android:parentActivityName=".evalua0.Evalua0Activity" />
        <activity
            android:name=".evalua0.modulo1.MemoriaVerbalE0M1"
            android:parentActivityName=".evalua0.Evalua0Activity" />
        <activity
            android:name=".evalua0.modulo1.LetrasYNumerosE0M1"
            android:parentActivityName=".evalua0.modulo1.LetrasYNumerosE0M1" />
        <activity
            android:name=".evalua0.modulo1.ClasificacionE0M1"
            android:parentActivityName=".evalua0.Evalua0Activity" />
        <activity
            android:name=".evalua0.modulo1.OrganizacionPerceptivaE0M1"
            android:parentActivityName=".evalua0.Evalua0Activity" />
        <activity
            android:name=".evalua0.modulo1.SeriesE0M1"
            android:parentActivityName=".evalua0.Evalua0Activity" />
        <activity
            android:name=".evalua1.Evalua1Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".evalua1.modulo1.MemoriaAtencionE1M1"
            android:parentActivityName=".evalua1.Evalua1Activity" />
        <activity
            android:name=".evalua1.modulo6.CalculoNumeracionE1M6"
            android:parentActivityName=".evalua1.Evalua1Activity" />
        <activity
            android:name=".evalua1.modulo5.OrtografiaVisualE1M5"
            android:parentActivityName=".evalua1.Evalua1Activity" />
        <activity
            android:name=".evalua1.modulo5.OrtografiaFoneticaE1M5"
            android:parentActivityName=".evalua1.Evalua1Activity" />
        <activity
            android:name=".evalua1.modulo4.ValoracionGlobalLecturaE1M4"
            android:parentActivityName=".evalua1.Evalua1Activity" />
        <activity
            android:name=".evalua1.modulo4.ExactitudLectoraE1M4"
            android:parentActivityName=".evalua1.Evalua1Activity" />
        <activity
            android:name=".evalua1.modulo4.ComprensionLectoraE1M4"
            android:parentActivityName=".evalua1.Evalua1Activity" />
        <activity
            android:name=".evalua1.modulo2.ValoracionGlobalBasesE1M2"
            android:parentActivityName=".evalua1.Evalua1Activity" />
        <activity
            android:name=".evalua1.modulo2.OrganizacionPerceptivaE1M2"
            android:parentActivityName=".evalua1.Evalua1Activity" />
        <activity
            android:name=".evalua1.modulo2.ClasificacionesE1M2"
            android:parentActivityName=".evalua1.Evalua1Activity" />
        <activity
            android:name=".evalua1.modulo2.SeriesE1M2"
            android:parentActivityName=".evalua1.Evalua1Activity" />
        <activity
            android:name=".evalua3.Evalua3Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".evalua3.modulo2.ReflexividadE3M2"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua3.modulo2.OrganizacionPerceptivaE3M2"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua3.modulo2.PensamientoAnalogicoE3M2"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua3.modulo2.ValoracionGlobalBasesE3M2"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua3.modulo1.MemoriaAtencionE3M1"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua3.modulo4.ComprensionLectoraE3M4"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua3.modulo4.ExactitudLectoraE3M4"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua3.modulo4.ValoracionGlobalLecturaE3M4"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua3.modulo5.OrtografiaFoneticaE3M5"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua3.modulo5.OrtografiaVisualRegladaE3M5"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua3.modulo6.ValoracionGlobalAprenMatematE3M6"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua3.modulo6.ResolucionProblemasE3M6"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua3.modulo6.CalculoNumeracionE3M6"
            android:parentActivityName=".evalua3.Evalua3Activity" />
        <activity
            android:name=".evalua7.Evalua7Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".evalua7.modulo1.AtencionConcentracionE7M1"
            android:parentActivityName=".evalua7.Evalua7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.figonzal.evaluatool.evalua7.Evalua7Activity" />
        </activity>
        <activity
            android:name=".evalua7.modulo2.RazonamientoDeductivoE7M2"
            android:parentActivityName=".evalua7.Evalua7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.figonzal.evaluatool.evalua7.Evalua7Activity" />
        </activity>
        <activity
            android:name=".evalua7.modulo2.RazonamientoInductivoE7M2"
            android:parentActivityName=".evalua7.Evalua7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.figonzal.evaluatool.evalua7.Evalua7Activity" />
        </activity>
        <activity
            android:name=".evalua7.modulo2.RazonamientoEspacialE7M2"
            android:parentActivityName=".evalua7.Evalua7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.figonzal.evaluatool.evalua7.Evalua7Activity" />
        </activity>
        <activity
            android:name=".evalua7.modulo4.EficaciaLectoraE7M4"
            android:parentActivityName=".evalua7.Evalua7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.figonzal.evaluatool.evalua7.Evalua7Activity" />
        </activity>
        <activity
            android:name=".evalua7.modulo4.VelocidadLectoraE7M4"
            android:parentActivityName=".evalua7.Evalua7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.figonzal.evaluatool.evalua7.Evalua7Activity" />
        </activity>
        <activity
            android:name=".evalua7.modulo5.OrtografiaFoneticaE7M5"
            android:parentActivityName=".evalua7.Evalua7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.figonzal.evaluatool.evalua7.Evalua7Activity" />
        </activity>
        <activity
            android:name=".evalua7.modulo5.ExpresionEscritaE7M5"
            android:parentActivityName=".evalua7.Evalua7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.figonzal.evaluatool.evalua7.Evalua7Activity" />
        </activity>
        <activity
            android:name=".evalua7.modulo5.OrtografiaVisualRegladaE7M5"
            android:parentActivityName=".evalua7.Evalua7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.figonzal.evaluatool.evalua7.Evalua7Activity" />
        </activity>
        <activity
            android:name=".evalua7.modulo6.CalculoNumeracionE7M6"
            android:parentActivityName=".evalua7.Evalua7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.figonzal.evaluatool.evalua7.Evalua7Activity" />
        </activity>
        <activity
            android:name=".evalua7.modulo4.ComprensionLectoraE7M4"
            android:parentActivityName=".evalua7.Evalua7Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cl.figonzal.evaluatool.evalua7.Evalua7Activity" />
        </activity> <!-- Desabilita performance en compilacion -->
        <!-- TODO: Habilitar para produccion -->
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- ADMOB -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6355378855577476~8089782740" />
    </application>

</manifest>